*.iml
*.apk
*.ap_

/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
app/build

.externalNativeBuild
.DS_Store
.gradle
.dex
.class
.classpath
.project
.idea

local.properties
Thumbs.db
gradle.properties
